<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447611326483-kskcroqm3il0dmn8iio7gd0m2fgkeprs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447611326483-kskcroqm3il0dmn8iio7gd0m2fgkeprs</string>
	<key>API_KEY</key>
	<string>AIzaSyBknwQ1FXnJ3WC14Eq-vmZxloDa5kXEpvM</string>
	<key>GCM_SENDER_ID</key>
	<string>447611326483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>idmeseo</string>
	<key>STORAGE_BUCKET</key>
	<string>idmeseo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447611326483:ios:549e37c4a79c4d6ffbafe6</string>
</dict>
</plist>